<div class="container">
    <img src="/assets/images/contact.jpg" style="width: 100%;">
    <div class="text-block" style="padding:15px;">
        <table border="0">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td>Swetha Panga</td>
                <td>pangaswethareddy@gmail.com</td>
                <td>+91 8179323885</td>
            </tr>
            <tr>
                <td>Dinesh Nandi</td>
                <td>dineshnandi1996@gmail.com</td>
                <td>+91 9867988985</td>
            </tr>
        </table>
        </div>
</div>

